@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.CVFooter {
  color: black;
  display: flex;
  margin: auto;
  align-items: center;
  background-color: #b5838d;
  height: 15vh;
  width: 65%;
  flex-direction: row;
}

.CVFooter-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  background-color: #b5838d;
  text-align: end;
  margin-left: 65%;
  margin-top: 5%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  background-color: #b5838d;
}
