@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.CVExperience {
  color: black;
  display: flex;
  margin: auto;
  position: relative;
  background-color: lightgray;
  width: 65%;
  flex-direction: row;
}

/* Left panel */

.CVExperience-title {
  background-color: lightgray;
  width: 40%;
  /* padding-top: 2%; */
}

.CVExperience-headline {
  background-color: lightgray;
  font-family: "Anton", sans-serif;
  font-size: 1.7vw;
  padding-top: 2%;
  text-align: end;
  padding-right: 5%;
}

.CVExperience-icon {
  background-color: lightgray;
  padding-left: 1%;
}

.CVExperience-role {
  background-color: lightgray;
  font-family: "Anton", sans-serif;
  font-size: 1.1vw;
  padding-top: 10%;
  padding-right: 5%;
  text-align: end;
}

.CVExperience-role-length {
  background-color: lightgray;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  text-align: end;
  padding-right: 5%;
  padding-bottom: 63%;
}

.CVExperience-role2 {
  background-color: lightgray;
  font-family: "Anton", sans-serif;
  font-size: 1.1vw;
  padding-top: 100%;
  padding-right: 5%;
  text-align: end;
}

.CVExperience-role2-length {
  background-color: lightgray;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  text-align: end;
  padding-right: 5%;
}

/* //Right panel */

.CVExperience-text {
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 60%;
  padding: 5%;
}

.CVExperience-header {
  font-size: 1.1vw;
  background-color: white;
  padding-top: 4%;
}

.CVExperience-body {
  background-color: white;
  font-size: 1.1vw;
  padding-bottom: 3.5%;
}

b {
  background-color: white;
}

i {
  background-color: white;
}
