@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.CVReferences {
  width: 65%;
  /* color: black; */
  display: flex;
  margin: auto;
  /* position: relative; */
  height: auto;
}

.CVReferencesHeader-left {
  background-color: lightgray;
  width: 34%;
  font-family: 'Anton', sans-serif;
  font-size: 1.7vw;
  text-align: right;
  padding: 5%;
}

.CVReferences-icon {
  background-color: lightgray;
  /* padding-left: 1%; */
}

/* Right side */

.CVReferencesHeader-right {
  width: 64%;
  background-color: whitesmoke;
}

.CVReferences-text {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  width: 66%;
  padding: 5%;
}

.CVReferences-header {
  font-size: 1.1vw;
  background-color: whitesmoke;
  /* padding-top: 4%; */
  margin: 0%;
}

b {
  background-color: whitesmoke;
}

i {
  background-color: whitesmoke;
}
