@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.CVHeader {
  color: black;
  display: flex;
  margin: auto;
  align-items: center;
  /* position: relative; */
  background-color: #b5838d;
  width: 65%;
  /* flex-direction: row; */
  padding-top: 3%;
}

.CVHeader-avatar-section {
  background-color: #b5838d;
  flex-direction: row;
  text-align: center;
  width: 31%;
}

.CVHeader-avatar {
  border-radius: 48%;
  width: 55%;
  background-color: #b5838d;
  animation: rotation 12s infinite linear;
  max-width: 100%;
  /* height: auto; */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.CVHeader-fullname {
  font-size: 3.1vw;
  background-color: #b5838d;
  font-family: 'Anton', sans-serif;
  flex-direction: row;
  /* text-align: center; */
  width: 40%;
  position: relative;
}

.CVHeader-profile-links {
  color: black;
  background-color: #b5838d;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  flex-direction: row;
  width: 30%;
  padding: 0%;
}

.CVHeader-profile-links a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

/* li {
  background-color: #b5838d !important;
  color: #b5838d !important;
} */

/* a {
  background-color: #b5838d;
} */

.CVHeader-icon-list {
  width: 6%;
  padding-right: 3%;
}
