@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.CVEducation {
  color: black;
  display: flex;
  margin: auto;
  position: relative;
  background-color: lightgray;
  width: 65%;
}

/* Left panel */

.CVEducation-title {
  background-color: lightgray;
  width: 34%;
  padding: 3%;
}

.CVEducation-icon {
  background-color: lightgray;
}

.CVEducation-role {
  background-color: lightgray;
  font-family: 'Anton', sans-serif;
  font-size: 1.2vw;
  text-align: end;
}

.CVEducation-role-length {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  text-align: end;
}

/* Right panel */

.CVEducation-text {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  width: 66%;
  padding: 3%;
}

.CVEducation-header {
  font-size: 1.1vw;
  background-color: whitesmoke;
  margin: 0%;
}

.CVEducation-body {
  background-color: whitesmoke;
  font-size: 1.1vw;
}
