@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.CVInterests {
  width: 65%;
  display: flex;
  margin: auto;
  height: auto;
}

.CVInterests-title {
  background-color: lightgray;
  width: 34%;
  padding: 4%;
}

.CVInterestsHeader-left {
  background-color: lightgray;
  width: 34%;
  font-family: 'Anton', sans-serif;
  font-size: 1.7vw;
  text-align: right;
  padding: 4%;
}

.CVInterests-icon {
  background-color: lightgray;
}

.CVInterests-text {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  width: 66%;
  padding: 4%;
}

.CVInterests-header {
  font-size: 1.1vw;
  background-color: whitesmoke;
  margin: 0%;
}

.CVInterests-body {
  background-color: whitesmoke;
  font-size: 1.1vw;
}
