@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.CVExperience {
  display: flex;
  margin: auto;
  background-color: lightgray;
  width: 65%;
}

/* Left panel */

.CVExperience-title {
  background-color: lightgray;
  width: 34%;
  padding: 4%;
}

.CVExperience-role {
  background-color: lightgray;
  font-family: 'Anton', sans-serif;
  font-size: 1.2vw;
  text-align: end;
}

.CVExperience-role-length {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  text-align: end;
}

/* //Right panel */

.CVExperience-text {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  width: 66%;
  padding: 4%;
}

.CVExperience-header {
  font-size: 1.1vw;
  background-color: whitesmoke;
  margin: 0%;
}

.CVExperience-body {
  background-color: whitesmoke;
  font-size: 1.1vw;
}

.CVExperience-techstack {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  font-size: 1.1vw;
}

b {
  background-color: whitesmoke;
}

.CVExperience-icon-name {
  background-color: whitesmoke;
}

.CVExperience-icon-list {
  background-color: whitesmoke;
  width: 6%;
  padding-right: 1%;
}
