@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.CVExperience {
  color: black;
  display: flex;
  margin: auto;
  /* position: relative; */
  background-color: lightgray;
  width: 65%;
  /* flex-direction: row; */
}

/* Left panel */

.CVExperience-title {
  background-color: lightgray;
  width: 34%;
  padding: 4%;
}

.CVExperience-role {
  background-color: lightgray;
  font-family: 'Anton', sans-serif;
  font-size: 1.1vw;
  /* padding-top: 8%;
  padding-right: 5%; */
  text-align: end;
  /* padding: 4%; */
}

.CVExperience-role-length {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  text-align: end;
  /* padding-right: 5%; */
  /* padding-bottom: 63%; */
}

/* //Right panel */

.CVExperience-text {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  width: 66%;
  padding: 4%;
}

.CVExperience-header {
  font-size: 1.1vw;
  background-color: whitesmoke;
  /* padding-top: 4%; */
  margin: 0%;
}

.CVExperience-body {
  background-color: whitesmoke;
  font-size: 1.1vw;
  /* padding-bottom: 3.5%; */
}

b {
  background-color: whitesmoke;
}

i {
  background-color: whitesmoke;
}
