@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.CVTechnologies {
  width: 65%;
  display: flex;
  margin: auto;
  height: auto;
}

/* Left panel */

.CVTechnologies-title {
  background-color: lightgray;
  width: 34%;
  font-family: 'Anton', sans-serif;
  font-size: 1.7vw;
  text-align: right;
  padding: 4%;
  padding-top: 5%;
}

.CVTechnologies-icon {
  background-color: lightgray;
}

/* Right panel */

.CVTechnologies-text {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  width: 66%;
  padding: 4%;
  padding-top: 5%;
  font-size: 1.1vw;
  text-align: center;
}

.CVTechnologies-icon-list {
  background-color: whitesmoke;
  width: 6%;
}
